
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="content-wrap">
    <!--START: Content Wrap-->

    <div class="row">

        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="calaendar" data-calendar="calendar">
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>  <!--END: Content Wrap-->


