
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h1 align="center">Microsoft Yaz Kampı Proje Teslim Anasayfa</h1>
<h2>Proje Tanımı</h2>
<h4>
    -> Bu proje bireylerin yaşam kalitelerini maksimum seviyeye çıkarmayı amaçlanarak yapılmış bir projedir.<br /><br />
    -> İnsanların sağlık için ihtiyaç duyduğu iki temel başlık hakkında onlara rehperlik yapacaktır.<br /><br />
    -> Her bireyin fiziki ve genetik özellikleri değerlendirilerek bireye en uygun Spor ve Beslenme programları sunulacaktır.<br /><br />
    -> Her birey görüntü işleme teknolojisi ile vücut analizine sokularak vücut ölçüleri yardımıyla vücut tipi belirlenecektir.
    6 adet vücut tipi vardır.<br /><br />

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Endomorph<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Ektomorph<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Mezomorph<br />
    <br /><br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* V Type<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* I Type<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* R Type<br /><br />
    ->Her vücut tipi ölçülere göre genetik olarak farklı dahili ve fiziki özelliklere sahiptir.<br />
    ->Yapay zeka sayesinde sahip olunan genetik özelliklere göre vücudun ihtiyacı olan her şeye uygun bir program hazırlanacaktır.<br /><br />
</h4>
